<template>
    <li class="list-group-item d-inline-flex justify-content-between"
        :class="{active: isHovered, 'bg-secondary': completed}"
        @click="completed=!completed"
        @mouseenter="isHovered=!isHovered"
        @mouseleave="isHovered=!isHovered"
    >
        <span class="align-self-start">
            {{title}}</span>
        <button class="btn btn-danger btn-sm bd mb-auto float-left" @click="$emit('deleteItem', id)"><font-awesome-icon icon="trash-alt" /></button>
    </li>

</template>

<script>
    export default {
        name: "Item",
        data(){
            return{
                isHovered: false,
            }
        },
        methods: {
        },
        props: ['title', 'completed', 'id']
    }
</script>

<style scoped>
    li{
        cursor: pointer;
    }
</style>