<template>
    <ul class="list-group container justify-content-center col-xl-5">
        <NewItem @addItem="datas?datas.push({id:datas[datas.length-1].id+1, title: $event, completed: false}):datas = {id:1, title: $event, completed: false}"/>
        <Item v-for="todo in datas"
              :title="todo.title"
              :completed="todo.isDone"
              :id="todo.index"
              :key="todo._id"
              @deleteItem="datas = datas.filter(elm=>elm.id!==$event)"
        />
    </ul>
</template>

<script>
    import Item from "@/components/Item";
    import NewItem from "@/components/NewItem";
    export default {
        name: "List",
        data(){
            return{
                datas
            }
        },
        components: {NewItem, Item},
        props: ['datas']
    }
</script>

<style scoped>

</style>