<template>
    <form>
        <div class="input-group">
            <input class="form-control" placeholder="Помыть посуду" type="text" v-model="addTitle">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" @click.prevent="addItem(addTitle)" >Добавить</button>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        name: "NewItem",
        data(){
            return{
                addTitle: ''
            }
        },
        methods:{
            addItem(title){
                if(title){
                    this.$emit('addItem', title)
                }
            }
        }
    }
</script>

<style scoped>
    form{
        margin-bottom: 0.5rem;
    }
</style>