<template>
  <div id="app">
    <div class="container-fluid justify-content-center">
      <h1>VUE TODO</h1>
      <hr>
      <List :datas="todos"/>
    </div>
  </div>
</template>

<script>
import List from "@/components/List";
export default {
  name: 'App',
  components: {
    List
  },
  data(){
    return{
      todos: [
        {id: 1, title: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi eaque enim id impedit nostrum veniam. Corporis cumque debitis facere incidunt maiores minus numquam pariatur quaerat qui, quis rerum, sint temporibus.', isDone: false},
        {id: 2, title: 'Пока', isDone: false},
        {id: 3, title: 'Здарова', isDone: false},
        {id: 4, title: 'Ку', isDone: false}
      ]
    }
  },
  mounted() {
    fetch('https://jsonplaceholder.typicode.com/todos')
            .then(response => response.json())
            .then(json => this.todos = json)
  }
}
</script>

<style scoped>
  h1 {
    text-align: center;
    margin-top: 1rem;
  }
</style>
